{
    "presets": ["env","react"],
    "plugins":[
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}
//the class propertes plugin coes handy for a lot of binding mnaually and others